//colors
$c-main-blue: #0072ce;
$c-main-white: rgb(255, 255, 255);
$c-main-grey: #c4c4c4;
//fonts
$basic-family: "Open Sans",
"Open Sans",
"Arial",
"Helvetica",
sans-serif;
$gutter-y: 80px;
//size
$xl: 1140px;
$lg: 1024px;
$ml: 945px;
$md: 768px;
$sm: 450px;
$xs: 375px;
$xxs: 320px;